.user-detail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color:rgba(9, 9, 83, 0.50);
    filter: drop-shadow(0 0 10px white);
    color: white;
    padding: 1.5em;
    width: 110%;
    height: 110%;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    min-width: 250px;
}

.user-details{
    height: 120%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-details p{
    background-color: rgba(0, 0, 0);
    padding: 0.3em 1em;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px black);
    overflow: scroll;
}

.user-detail img{
    padding: 0.2em;
    background-color: black;
    height: 40%;
    width: 100%;
    border: 7px double white;
    filter: drop-shadow(0 0 8px black);
    margin-bottom: 15px;
    object-fit: contain;
}

.button-details-user-out, .button-details-user-in{
    position: absolute;
    top: 20px;
    right: 20px;
    filter: drop-shadow(0 0 5px blue);
}
.button-details-user-out{
    z-index: 10;
}
.button-details-user-in{
    z-index: 12;
}

.not-user{
    background-color: black;
    color: red;
    border: 10px double rgb(225, 30, 30);
    filter: grayscale(0.4);
    width: 100%;
    padding: 2em;
    font-size: 1.2em;
    font-weight: bolder;
    text-decoration: underline;
}

.img-comments{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    object-fit: cover;
}

.comments-section{
    width: 100%;
}

.comment{
    background-color: black;
    padding: 0.5em;
    margin: 20px;
    border-radius: 20px;
}

.commento{
    padding: 0.3em 2em;
    width: 50%;
    border-radius: 10px;
    margin: 10px 0;
}

.button{
    position: absolute;
    right: 0;
} 

.input-add-custom{
    width: 100%;
    padding: 0.5em;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
}

.card-details{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.card-details img{
    margin: 0 2em;
}
.card-details-p{
    padding: 5em 0;
}

.dettails-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 2.5em;
}

.user-in-post{
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
}

.img-iser-in-post{
    height: 50px;
    width: 50px;
    margin-right: 1em;
    border-radius: 50%;
}

.form-search{
    display: flex;
    width: 50%;
}




@media screen and (max-width: 1000px){

    .dettails-post{
        flex-direction: column;
    }
    .user-details img{
        width: 70%;
    }
    .form-search{
        display: flex;
        width: 100%;
    }
    
}
@media screen and (max-width: 700px){

    .card-details{
        padding-top: 5em;
    }
    .card-details img{
        margin: 0 2em;
    }
    .card-details-p{
        padding: 1em 0;
    }
    .user-details{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 400px){

    .card-details{
        font-size: 0.7em;
        padding-top: 6em;

    }
    .card-details img{
        width: 80%;
    }
   
}